# Default code-owner
* @ethereum-optimism/superchain-registry-reviewers
2dfcba0d9d63e1a5fd5a45ceac8b571141f91cec
# Default code-owner
*
@solona-solflare superchain-registry-reviewers
9qmTHovFDABKZFt6NYpDBePmy65v7Mz3Mn3qTD6EsAfb